#!/sbin/openrc-run
supervisor=supervise-daemon
command=/usr/bin/java
command_args="phx.server"
command_args="${yacy_options} -server -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Dsolr.directoryFactsolr.MMapDirectoryFactory net.yacy.yacy"
command_user=yacy:yacy
command_background=1
retry="SIGTERM/30/SIGKILL/5"
pidfile="/var/run/pleroma.pid"
directory="/usr/share/yacy"

depend() {
    need net
}

CLASSPATH=.:htroot:lib/*
